{% extends 'main.html' %}
{% load humanize %}

{% block content %}

  <style>
      .room-container{
        display: grid;
        grid-template-columns: 3fr 1fr;
        
      }
  </style>

<div class="room-container">
  <div>
  <h1>{{room.name}}</h1>
  <p>{{room.description}}</p>
  <div class="comment-wrapper">
      <h3>Conversation</h3>
      <hr>
      {% for message in room_messages %}
          <div>
            {% if request.user == message.user %}
              <a href="{% url 'base:delete-message' message.id %}">Delete</a>
            {% endif %}  
              <small>@{{message.user}} {{message.created|naturaltime}}</small>
              <p>{{message.body}}</p>
              <hr>
          </div>
      {% endfor %}
 
  {% if request.user.is_authenticated %}
      <div class="comment-form">
        <form action="" method="POST">
            {% csrf_token %}
  
            <input type="text" name="body" placeholder="Write your comment...">
        </form>
  
      </div>
      {% endif %}

    </div>
  </div>
  

<div>
    <h3>Participants</h3>
    <hr>
    {% for user in participants %}
      <div>
        <p>{{user.username}}</p>  
      </div>
    {% endfor %}
</div>
</div>

{% endblock %}